<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/service" method="post">
        <lable for="servicename">Service name:</lable>
        <input type="text" name="servicename" id="servicename">

        <lable for="serviceCost">Service Cost:</lable>
        <input type="number" name="serviceCost" id="serviceCost">

        <lable for="serviceduration">Service duration:</lable>
        <input type="text" name="serviceduration" id="serviceduration">
        <button type="submit">submit</button>
</body>
</html>